@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  @apply text-lightText transition-colors duration-200 dark:text-darkText;
}

h1,
h2,
h3 {
  @apply font-gilroy;
}

h1 {
  @apply text-[42px] md:text-[56px];
}

body {
  @apply container flex flex-col bg-lightBackground font-openSans dark:bg-darkBackground;
}

.notification-mark {
  position: relative;
  background: #00bb61;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.notification-mark span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  opacity: 0.6;
  animation: pulseAnimate 3s ease-out infinite;
}

@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

section {
  @apply mb-24 md:mb-32;
}

button {
  @apply rounded-[5px] px-14 py-4 font-bold shadow-lightButton transition duration-300 dark:shadow-darkButton;
}

button.primary {
  @apply bg-lightPrimary-700 text-lightBackground dark:bg-darkPrimary-900 dark:text-darkBackground;
}

button.primary:hover {
  @apply bg-lightPrimary-900 shadow-hoverLightButton dark:bg-darkPrimary-500 dark:shadow-hoverDarkButton;
}

button.secondary {
  @apply bg-lightSecondary-700 text-lightText dark:bg-darkSecondary-900 dark:text-darkText;
}

button.secondary:hover {
  @apply bg-lightSecondary-900 shadow-hoverLightButton dark:bg-darkSecondary-700 dark:shadow-hoverDarkButton;
}
